
body {
    padding: 20px 200px;
    }
header{
    background-color: rgba(128, 238, 174, 0.76) ;
    padding: 15px;
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px black;
}
h1{
    margin: 0px;
}
.main p {
    margin-bottom: 0px;
}